<div class="card-page">
  <!-- <div class="row" *ngIf="details; let details; else loading"> -->
    <div class="row">

    <div class="col-md-12">
      <div class="card-collect">
        <h3 style="margin-bottom: 20px;"> Customer Information </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <hr>
              <div class="col-sm-3">
                <div class="card-sm">
                  <h4> Name</h4>
                 <p>Israr Muhammad</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card-sm">
                  <h4> Phone No</h4>
                 <p>0795555555</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card-sm">
                  <h4> Total Amount</h4>
                 <p>35,000</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card-sm">
                  <h4> Promissory Notes Amount</h4>
                 <p>15,0000</p>
                </div>
              </div>

            
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card-collect">
        <h3 style="margin-bottom: 20px;"> Order Information </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <hr>
              <div class="col-sm-2">
                <div class="card-sm">
                  <h4> Order No</h4>
                 <p>44</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card-sm">
                  <h4> Order Link</h4>
                 <p>0795555555</p>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="card-sm">
                  <h4> Branch</h4>
                 <p>35,000</p>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="card-sm">
                  <h4> Order Date</h4>
                 <p>15,0000</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card-sm">
                  <h4> No Of Installment</h4>
                 <p>15,0000</p>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="card-sm">
                  <h4> Start Date</h4>
                 <input type="date" class="form-control" name="date">
                </div>
              </div>

            
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card-collect">
        <div class="row">
          <div class="col-md-10">
            <h3 style="margin-bottom: 20px;"> Guarantor Information </h3>
          </div>
          <div class="col-md-2">
            <span class="Grantor-checkbx" style="margin-right: 10px;">
              <input type="checkbox" class="form-check-input" ><span class="margin-right">  Guarantor</span>
            </span>
          </div>
        </div>
        
       
        
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <hr>
              <div class="col-sm-3">
                <div class="card-sm">
                  <h4> Grantor Name</h4>
               <input type="tex" value="Ammer Ali" name="" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card-sm">
                  <h4> Phone No</h4>
                  <input type="tex" value="0014545454" name="" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card-sm">
                  <h4> Grantor ID No. *</h4>
                  <input type="tex" value="45454545" name="" class="form-control">
                </div>
              </div>

            
            </div>
            <h3 style="margin-bottom: 20px;"> ID Attachment </h3>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <h4> Uploaded Id</h4>
               <input type="tex" value="Ammer Ali" name="" class="form-control">
             
                
                  <!-- <div class="passicon">
                    <fa-icon (click)="showImage()" *ngIf="!IsshowImage" class="custom-search-botton"
                      [icon]="faEye"></fa-icon>
                    <fa-icon (click)="showImage()" *ngIf="IsshowImage" class="custom-search-botton"
                      [icon]="faEyeSlash"></fa-icon>
              </div>
              <div class="passicon-d">
                <fa-icon (click)="showImage()" *ngIf="!IsshowImage" class="custom-search-botton"
                  [icon]="faDonwload"></fa-icon>
                 </div> -->
  
            </div>   </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <h4> Uploaded Secret file</h4>
                  <input type="tex" value="0014545454" name="" class="form-control">
                  <!-- <div class="passicon">
                    <fa-icon (click)="showImage()" *ngIf="!IsshowImage" class="custom-search-botton"
                      [icon]="faEye"></fa-icon>
                    <fa-icon (click)="showImage()" *ngIf="IsshowImage" class="custom-search-botton"
                      [icon]="faEyeSlash"></fa-icon>
              </div>
              <div class="passicon-d">
                <fa-icon (click)="showImage()" *ngIf="!IsshowImage" class="custom-search-botton"
                  [icon]="faDonwload"></fa-icon>
          </div> -->
              
                </div>
              </div>
         

          
       
        </div>
      </div>
    </div>
  


  
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <!-- <ng-template #loading>
          <div>
            <app-loading></app-loading>
          </div>
        </ng-template> -->
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-3">
    <p >Promissory Notes Book No :  <span class="pn-book">50505 </span> </p>
  </div>
  

  


</div>

<div class="row">
  <h5>List of Promissory Notes</h5>
  <!-- <div class="col-md-12" *ngIf="workorders; let workorders; else: loading "> -->
    <div class="col-md-12">
    <div class="card-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <button class="btn" > No
              
                </button>
              </th>
              <th scope="col">
                <button class="btn" > Customer Name
               
                </button>
              </th>
           
              <th scope="col">
                <span>
                  <button class="btn" style="cursor:default!important;" > Amount
                 
                  </button>
                </span>
               
              </th>
              <th scope="col">
                <span>
                  <button class="btn" style="cursor:default!important;" > Due Date
        
                  </button>
                </span>
               
              </th>
              <th scope="col">
                <button class="btn">  Status
               
                </button>
              </th>
            
              <th scope="col" > <button class="btn btn-act"> Action </button></th>
            </tr>
          </thead>
          <tbody>
            <tr >

               
              <td > 021</td>
              <td >Israr     </td>
              <td >55.00</td>
              <td > 22/10/2021 </td>
              
              <td ><span class="status-alert" style="padding: 5px;background-color: #FFF3DB;border-radius: 5px; color: #FFB155;"> Pending</span> </td>
              <td>
                 <img src="/assets/images/btn-img.png" (click)="ShowDetails()"> 
              </td></tr> 
            <!-- <tr *ngFor="let item of workorders; let i = index">

             
              <td > {{item.customer.customerName}}</td>
              <td >
               {{item.customer.mobile}} 
              </td>
              <td >
                {{item.orderDate | date:' d MMM y h:mm a'}}
              </td>
            
             
              <td > {{item.grandAmount}} </td>
              <td >
              
              </td>
              <td class="last-td">
                <button class="btn-border" (click)="ViewCollectDetails(item)" > 
                 <img src="/assets/images/btn-img.png"> 
                  </button>
               
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <!-- <div class="not-found" *ngIf="workorders.length == 0">
        <app-not-found></app-not-found>
      </div> -->
    </div>
  </div>
  
  <div class="col-md-12">
    <div class="card-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <button class="btn" > Employee Name
              
                </button>
              </th>
              <th scope="col">
                <button class="btn" > Status
               
                </button>
              </th>
           
              <th scope="col">
                <span>
                  <button class="btn" style="cursor:default!important;" > Date & Timr
                 
                  </button>
                </span>
               
              </th>
              <th scope="col">
                <span>
                  <button class="btn" style="cursor:default!important;" > Action
        
                  </button>
                </span>
               
              </th>
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>TEST</td>
              <td>   <span class="status-alert" style="padding: 5px;background-color: #FFF3DB;border-radius: 5px; color: #FFB155;"> Pending</span>  </td>
              <td> 22-10-2000</td>
              <td><a href="">10 Promissory notes have been generated</a></td>
            </tr>
          
          </tbody>
        </table>
      </div>
      <!-- <div class="not-found" *ngIf="workorders.length == 0">
        <app-not-found></app-not-found>
      </div> -->
    </div>
  </div>
  <div class="col-md-12">
    <div class="btns-group">

      <button type="submit" class="btn btn-save" (click)="Back()"  > Close </button>
      
    </div>
  </div>
</div>
