<div class="card-page">
  <div class="row">
         <!--   <div class="col-md-12">
      <div class="branchesTypes">
 <button class="btn"    select>
          Generate Promissory Notes
        </button>
        <button class="btn">
          Reschedule Promissory Notes
        </button>
        <button class="btn">
          Transfer Promissory Notes
        </button> 
        
      </div>-->
<div class="col-md-12">
  
    <div class="branchesTypes">
      <button class="btn" *ngFor=" let item of TabsCollection; let i = index"
        [class.active]="item.TabNo == select" (click)="chooseBranch(item,i)">
        {{item.Name}}
      </button>
    </div>
    <br>
</div>
</div>
<div class="row">

  <div class="col-md-3 col-sm-6">
    <div class="input-group mb-3 search-box">
      <button class="btn" type="button" id="button-addon1"><i class="fa-solid fa-search"></i></button>
      <input type="text" class="form-control" placeholder="Search by customer name or number ..." [(ngModel)]="searchText"
        (keyup)="search($event)">
      <button class="btn" type="button" id="button-addon1" (click)="removeSearch()"
        [hidden]="searchText.length == 0"><i class="fa-solid fa-xmark"></i></button>
    </div>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-3 ">
    
    <div class="input-group mb-3 search-box">
      <button class="btn" type="button" id="button-addon1"><i class="fa-solid fa-search"></i></button>
      <input type="text"
      style="height:40px"
      name="date"
      placeholder="Select Date"
      class="form-control mt-3 mt-lg-0"
      bsDaterangepicker
      [bsConfig]="{ containerClass: 'theme-red',isAnimated: true,showClearButton: true}"
      placement="bottom" [(ngModel)]="selectedDate" (ngModelChange)="onDateChanged($event)">
      <button class="btn" type="button" id="button-addon1" (click)="resetDate()"
        [hidden]="selectedDate.length == 0"><i class="fa-solid fa-xmark"></i></button>
    </div>


   
    
  </div>

  <div class="col-md-2 col-sm-6">
    <div class="form-group mb-3">
      <ng-select id="Id"
        [placeholder]="isService? 'Order Status ... ' : 'Order Status ...'" [items]="lookups"
        bindLabel="description" bindValue="statusId" [(ngModel)]="Id" (change)="filterByStatusId($event)"
        (clear)="clearStatus($event)">
      </ng-select>
    </div>
  </div>
  
  <div class="col-md-2 col-sm-6">
    <div class="form-group mb-3">
      <ng-select id="Id"
      [placeholder]="isService? 'Branch Name ... ' : 'Branch Name...'" [items]="branches"
      bindLabel="branchName" bindValue="branchId" [(ngModel)]="bId" (change)="filterByBranchId($event)"
      (clear)="clearBranch($event)">
    </ng-select>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-12">
    <div class="top-details">
      <p>
        Orders List 
      </p>

      <p>      <span> Total No. {{totalAllRecordsCount}} </span> </p>
    </div>
  <div class="card-table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <button class="btn"  [disabled]="PNorders?.length == 0" (click)="sortByOrder()"> Order No
                <i class="fa-solid fa-arrow-up-long" [class.active]="sort == 2"></i>
                <i class="fa-solid fa-arrow-down-long" [class.active]="sort == 3"></i>
              </button>
            </th>
            <th scope="col">
              <button class="btn"> Customer Name
              </button>
            </th>
         
            <th scope="col">
              <span>
                <button class="btn" style="cursor:default!important;" > Phone No
                  <!-- <i class="fa-solid fa-arrow-up-long" [class.active]="sort == 4"></i>
                  <i class="fa-solid fa-arrow-down-long" [class.active]="sort == 3"></i> -->
                </button>
              </span>
             
            </th>
            <th scope="col">
              <span>
                <button class="btn" style="cursor:default!important;" [disabled]="PNorders?.length == 0" (click)="sortByBranch()" > Branch
                  <i class="fa-solid fa-arrow-up-long" [class.active]="sort == 4"></i>
                  <i class="fa-solid fa-arrow-down-long" [class.active]="sort == 3"></i>
                </button>
              </span>
             
            </th>
            <th scope="col">
              <button class="btn" (click)="sortByDate()">  Order Date
                <i class="fa-solid fa-arrow-up-long" [class.active]="sort == 4"></i>
                <i class="fa-solid fa-arrow-down-long" [class.active]="sort == 5"></i>
              </button>
            </th>
          
            <th scope="col">
              <button class="btn"  (click)="sortByStatus()"> Status
                <i class="fa-solid fa-arrow-up-long" [class.active]="sort == 6"></i>
                <i class="fa-solid fa-arrow-down-long" [class.active]="sort == 7"></i>
              </button>
            </th>

           
            <th scope="col" > <button class="btn btn-act"> Action
           
            </button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of PNorders; let i = index">
            <td > {{item.orderId}}</td>
            <td >{{item.customer.customerName}}   </td>
            <td>{{item.customer.mobile}}  </td>
            <td >{{item.branch.branchName}} </td>
            <td >{{item.orderDate | date:' d MMM y'}}</td>
            <td > 
              <button class="btn status-alert" [style.backgroundColor]="item.statusObj.lookupBGColor ? item.statusObj.lookupBGColor : '#e3f1e7'" [style.color]="item.statusObj.lookupTextColor ? item.statusObj.lookupTextColor : '#0dd617' ">{{item.statusObj.description}}</button>
            </td>
            <td class="last-td">
              <!-- <button class="btn-border" (click)="View(item)" > <img src="/assets/images/btn-img.png"> </button> -->
              <button class="btn btn-add" *ngIf="item.actionToDo[0]!=null" (click)="Generate(item.orderId)"> {{  item.actionToDo[0].lookupName}} </button>
              
            
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="not-found" *ngIf="PNorders.length == 0">
      <app-not-found></app-not-found>
    </div> -->
  </div>
</div>
<div class="col-md-12">
  <ng-template #loading>
    <div>
      <app-loading></app-loading>
    </div>
  </ng-template>
</div>
<div class="col-md-6" [hidden]="PNorders?.length == 0 ">
  <h6 class="showing"> Showing <span> {{( pageNo + 1 ) * 6 - 5}} - {{ PNorders?.length == 6 ? (( pageNo + 1 ) * 6 ):
      totalRecords }} </span>
    from <span> {{totalRecords}} </span> data
  </h6>
</div>
<div class="col-md-6 " [hidden]="totalAllRecordsCount < 7 ">
  <ul class="pagination">
    <li class="page-item" *ngFor="let page of pages">
      <button class="page-link" (click)="setPage(page)" [ngClass]="{ active: pageNo === page }"
        [disabled]="pageNo === page">
        {{ page + 1 }}
      </button>
    </li>
  </ul>
</div>
</div>
